name: Deploy Documentation
on:
  workflow_call:
    inputs:
      version_to_deploy:
        default: 'master'
        required: false
        type: string
permissions: {}

jobs:
  deploy-docs-n-storybook:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          submodules: true
          persist-credentials: false
      - run: echo "Running on branch ${{ github.ref_name }}..."

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          node-version: '20'
      - run: npm ci --prefer-offline

      - run: npm run build
      - run: mkdir docs_out
      - run: npx storybook build -c .storybook -o docs_out/storybook/${{ inputs.version_to_deploy }}
        env:
          NODE_OPTIONS: --max-old-space-size=4096

      - uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: docs_out/storybook/${{ inputs.version_to_deploy }}
          target-folder: storybook/${{ inputs.version_to_deploy }}
