name: Lint Pull Request

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions: {}

jobs:
  lint-pr:
    name: Lint PR Title
    permissions:
      contents: read
    uses: equinor/ops-actions/.github/workflows/commitlint.yml@4b121f6dc31fdcc90ba501843d31292c20f86eaf # 9.33.0
    with:
      message: ${{ github.event.pull_request.title }}