name: Lint Pull Request

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions: {}

jobs:
  lint-pr:
    name: Lint PR Title
    permissions:
      contents: read
    uses: equinor/ops-actions/.github/workflows/commitlint.yml@c096742f0e74f7edbccc01c38020050894425506 # 9.32.1
    with:
      message: ${{ github.event.pull_request.title }}