name: Release/Publish
on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions: {}

jobs:
  release_or_publish_package:
    name: Release & Publish to NPM Registry
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    outputs:
      was_published: ${{ steps.changesets.outputs.published  }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          submodules: true
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          node-version: '20'
      - run: npm ci --prefer-offline

      - name: Create a Release PR or Publish to NPM Registry
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba
        with:
          version: npm run version
          publish: npm run release:npm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish_released_docs:
    needs: release_or_publish_package
    if: needs.release_or_publish_package.outputs.was_published == 'true'
    uses: ./.github/workflows/github-pages.yml
    permissions:
      contents: write
      id-token: write
    with:
      version_to_deploy: 'latest'
