name: Release

on:
  push:
    branches:
      - master

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    env:
      NODE_VERSION: "20.x"
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - name: Release Please
        id: release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38
        with:
          release-type: node

      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Setup Node ${{ env.NODE_VERSION }}
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: ${{ env.NODE_VERSION }}
          package-manager-cache: false

      - name: Install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: npm ci

      - name: Build library
        if: ${{ steps.release.outputs.release_created }}
        run: npm run build --if-present

      - name: Publish package
        if: ${{ steps.release.outputs.release_created }}
        uses: JS-DevTools/npm-publish@7f8fe47b3bea1be0c3aec2b717c5ec1f3e03410b
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
          provenance: true
